
.body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 12px;
}

.background {
    background-image: url(../address_book/img.png);
    width: 650px;
    height: 550px;
    position: relative;
    padding-top: 50px;
}
